html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans';
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 640px;
  height: 840px;
  margin-top: -210px;
}

.bodyPart-card {
  cursor: pointer;
  transform: scale(0.9, 0.9);
  transition: 0.3s all ease-in-out;
}

.exercise-card {
  background: #fff;
  box-shadow: inset 0px 4px #d40000;
  transform: scale(0.9, 0.9);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover {
  transform: scale(0.8, 0.8);
}

.bodyPart-card:hover {
  transform: scale(1, 1);
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d40000;
  font-size: 28px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(0.85, 0.85);
}

.right-arrow:disabled,
.left-arrow:disabled {
  cursor: not-allowed !important;
}

@media screen and (max-width: 1200px) {
  .hero-banner-img {
    display: none;
  }
}
